@import "tailwindcss";

@theme inline {
  /* Warna Brand Utama */
  --color-brand-navy: #0B2434;
  --color-brand-steel: #20536F;
  --color-brand-teal: #62949B;
  --color-brand-light: #F1F3F4;
  
  /* Variabel Dinamis */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  /* Light Mode - Pake Off-White biar gak silau banget */
  --background: #F1F3F4; 
  --foreground: #0B2434;
}

.dark {
  /* Dark Mode - Pake Biru Navy paling pekat dari palet lu */
  --background: #0B2434;
  --foreground: #F1F3F4;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color-0.3s;
}