@import "tailwindcss";

@theme inline {
  --color-brand-dark: #1A374D;
  --color-brand-light: #F0F4F8;
  
  /* Gunakan variabel CSS agar bisa berubah otomatis */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  /* Default Mode (Light) */
  --background: #ffffff;
  --foreground: #1A374D;
}

/* KUNCI UTAMANYA DI SINI */
.dark {
  --background: #0a0a0a; /* Warna item pekat buat dark mode */
  --foreground: #ededed;
}

body {
  /* Pakai variabel yang sudah didefinisikan di atas */
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}